$primary-color: #2563eb;
$secondary-color: #64748b;
$background-color: #f8fafc;
$text-color: #0f172a;
$error-color: #ef4444;
$success-color: #22c55e;
$border-color: #e2e8f0;

$breakpoints: (
	"xs": 375px,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"2xl": 1400px,
);
