@import "../../styles/variables";
@import "../../styles/mixins";

.news-feed {
	display: grid;
	gap: 1.5rem;

	.no-articles {
		text-align: center;
		color: $secondary-color;
		padding: 2rem;
	}
}
